<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbonas.mineseeker">

    <application>
        <activity
            android:name=".IntroActivity"
            android:label="Gold Rush"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Gold Rush"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>